doctype=html
html(language=en)
html
head
  title users
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
body
body
nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-3
  a.navbar-brand(href='/') EXPRESS APP
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    ul.navbar-nav.ml-auto.flex-row
      li.nav-item.active
        a.nav-link( href='/users') Users

.container
  each user in users
    .card.mb-2
      h5.card-header= user.name
      .card-body
        h6.card-subtitle.mb-2.text-muted= user.company.name
        p.card-text= user.company.catchPhrase
        a.card-link(href=`/users/${user.id}`) See more >>